/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Cherry+Swash:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Asterisk wildcard selector to override default styles */
* {
    padding: 0;
    margin: 0;
}

/* Header */
header {
    height: 50px;
}

header nav ul {
    display: flex;
    justify-content: right;
    margin-left: 65%;
    list-style: none;
    font-family: 'cherry swash', serif;
}

header nav ul li {
    display: flex;
    justify-content: right;
    padding: 5%;
}

header a {
    text-decoration: none;
    color: #0B0A09;
}

#cover{
    background: url(/assets/images/woman-doing-yoga.jpg) no-repeat center/cover;
}

/* Main Content */
section {
    display: flex;
    flex-wrap: wrap;
    /* This makes everything centered no matter what i do, might have to fix this */
    /*justify-content: center;
    align-items: center;*/
    height: 80vh;
    border: 1px solid #0B0A09;
}

.content_container {
    margin: 25px;
}

/* About Us */
#about_us {
    background-color: #BDB0A7;
    justify-content: center;
    align-items: center;
}

#about_us h2 {
    font-family: 'cherry swash', serif;
}

#about_us p {
    font-family: 'montserrat', italic;
    font-size: normal;
}

/* Sign Up form*/
#sign_up {
    background-color: #DBBDC6;
    display: flex;
    justify-content: center;
    /*font-family: 'cherry swash', serif;*/
}


#signup_form {
    display: flex;
    justify-content: right;
    flex-direction: column;
    max-width: 375px;
    width: 100%;
    min-height: 250px;
    margin-top: 40px;
    margin-right: 60px;
}

.form_label {
    max-width: 375px;
    width: 100%;
    height: 25px;
    margin-top: 8px;
    font-family: 'cherry swash', serif;
    font-size: medium;
}

input [type=text] {
    border: none;
    margin: 5px;
}

.form_textarea {
    width: 100%;
    height: 95px;
    /*border: 1px solid #0B0A09;*/
    padding: 10px;
    box-sizing: border-box;
}

.form_button {
    margin-top: 10px;
    border-radius: 4px;
    line-height: 8px;
    background-color: #ffffff;
    color: #0B0A09;
    padding: 12px;
    font-family: 'cherry swash', serif;
}

.form_button:hover {
    cursor: pointer;
}

/* Contact */
#opening_hours {
    background-color: #E9D8DD;
    display: flex;
    justify-content: center;
    font-family: 'cherry swash', serif;
    padding: 2%;
}


table,
th,
td {
    border: 1px solid #0B0A09;
}

#contact_image {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 400px;
    margin: 20px;
    padding: 12px;
}

/* Footer */
#footer {
    line-height: 20px;
    padding: 10px;
}

#social_links {
    display: flex;
    justify-content: space-around;
    align-items: right;
}

#social_links a {
    color: #0B0A09;
}

/* Media query */

/* Small devices (600px and down) */
@media only screen and (max-width: 600px) {

}

/* Medium devices (tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    #opening_hours {
        flex-wrap: wrap;
        }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {

}
