/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Cherry+Swash:wght@400;700&display=swap');

body {
    background-color: #BDB0A7;
    font-family: "cherry swash", serif;
    min-height: 100vh;
}

#image_header {
    display: flex;
    min-height: 80vh;
    justify-content: right;

}


#nav_bar {
    background-color: #ffffff;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 100%;
    margin-top: 1em;
    padding: 4px;
}

nav_bar:hover {
    border-color: #BDB0A7;
}

#footer {
   padding: 10px;
}

#contact_links{
    display: flex;
    justify-content: center;
    color: #ffffff;
}