/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Cherry+Swash:wght@400;700&display=swap');

body {
    
    background-color: #BDB0A7;
    font-family: "cherry swash", serif;
    min-height: 100%;
}

#image_header {
    display: flex;
    min-height: 80vh;
    justify-content: right;

}


#nav_bar {
    background-color: #ffffff;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 4rem;
}

#footer {
    background-color: pink;
    padding: 20px;
}