/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Cherry+Swash:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Asterisk wildcard selector to override default styles */
* {
    padding: 0;
    margin: 0;
}

/* Header */
header  {
   height: 50px;
}
header nav ul {
    display: flex;
    justify-content: right;
    margin-left: 65%;
    list-style: none;
    font-family: 'cherry swash', serif;
}

header nav ul li {
    display: flex;
    justify-content: right;
    padding: 5%;
}

header a {
    text-decoration: none;
    color: rgb(0, 0, 0); 
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    border: 1px solid rgb(10, 2, 2);
}

.content_container {
    margin: 25px;
}

.content_container h2 {
    font-family: 'cherry swash', serif;
}

#about_us {
    background-color: #BDB0A7;
}

#about_us p {
    font-family: 'montserrat', italic;
    font-size: normal;
}

#sign_up {
    background-color: #DBBDC6;
    display: flex; 
    /*justify-content: center;
    flex-direction: column;*/
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#signup_form {
    display: flex;
    justify-content: left;
    flex-direction: column;
    background: transparent;
    max-width: 375px;
    width: 100%;
    min-height: 250px;
    margin-top: 40px;
}

.form_button {
    margin-top: 10px;
    border-radius: 4px;
    line-height: 8px;
    background-color: #ffffff;
    color: #0B0A09;
    padding: 12px;
}


#contact {
    background-color: #E9D8DD;
}

#footer {
    line-height: 20px;
    padding: 10px;
}

#social_links {
    display: flex;
    justify-content: space-around;
    align-items: right;
}

#social_links a {
    color: #0B0A09;
}